html,body
    margin 0
    padding 0
    height 100%
    width 100%
    background url('../images/login_bg.jpg') no-repeat center
    // 设置填充模式
    background-size cover

.loginAndRegBox
    width 400px
    height 310px
    background-color #fff
    position absolute
    left 50%
    top 50%
    transform translate(-50%,-50%)
    // 我日了狗了，-50% -50%中间没写逗号，所以没有居中对齐，找了半天错误
    .title-box
        height 60px
        background url('../images/login_title.png') no-repeat center
